{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "add-module-exports",
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV", "PORT"]
      }
    ]
  ]
}
